.container
  .row-fluid
    .span14
      %table.table.table-condensed.table-bordered
        %tr
          %td 1m
          %td
            %a{:href => ""} george@aol.com
          %td weekly status meeting
          %td attachments
        %tr
          %td 2m
          %td
            %a{:href => ""} benson@google.com
          %td 1x1 tomorrow
          %td attachments
        %tr
          %td 5m
          %td
            %a{:href => ""} judy.jetson@gmail.com
          %td report processor design doc
          %td attachments
        %tr
          %td 1h
          %td
            %a{:href => ""} john.hurtlocker@yahoo.com
          %td out sick today
          %td attachments
        %tr
          %td 1h
          %td
            %a{:href => ""} spacely@outlook.com
          %td trip to shanghai
          %td attachments


