!!!
%html{:lang => "en"}
  %head
    %title uhlelo - extended email
    %link{:rel => "stylesheet", :href => url("bootstrap/css/bootstrap.css")}
    %link{:rel => "stylesheet", :href => url("styles/uhlelo.css")}
  %body
    = yield
    = haml :navbar

