.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %a.brand{:href => ""}
        %img{:src => "images/uhlelo5.png", :width => 32}
        %img{:src => "images/uhlelo.png"}
      %ul.nav
        %li.active
          %a{:href => ""} mail
        %li
          %a{:href => ""} about

