.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %a.brand{:href => ""} uhlelo
      %ul.nav
        %li.active
          %a{:href => ""} home
        %li
          %a{:href => ""} mail

