.container
  .row-fluid
    .span12
      %div.barometer
        %div.meter
          %p 39
        %div.gauge
          %p unread
      %div.barometer
        %div.meter
          %p 3
        %div.gauge
          %p drafts
      %div.barometer
        %div.meter
          %p 12
        %div.gauge
          %p new
      %div.barometer
        %div.meter
          %p 15
        %div.gauge
          %p sent
    .span12
      %table.table.table-condensed.table-hover
        %thead
        %tbody
          %tr.info
            %td
              %b 1m
            %td weekly status meeting
            %td
              %a{:href => ""} george@aol.com
            %td some icons here
          %tr
            %td 1h
            %td report processor design doc
            %td
              %a{:href => ""} judy.jetson@gmail.com
            %td icons
          %tr
            %td 1h
            %td 1x1 today
            %td
              %a{:href => ""} mervin@yahoo.com
            %td icons
          %tr
            %td 3h
            %td radio paper submission deadline
            %td
              %a{:href => ""} benson20@outlook.com
            %td icons
    .span12
      %p.large here's the agenda for our weekly status meeting 

